<html ng-app="profile">

<head>
    <link href="style.css" rel="stylesheet" />

</head>

<body>
    <pro ng-hide="showme"></pro>
    <button ng-hide="btn" ng-click="showme=true; btn=true">Edit Profile</button>
    <edit ng-show="showme" ng-model="showme"></edit>
    <button ng-show="btn" ng-click="showme=false; btn=false">Update Profile</button>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script src="module.js"></script>
    <script src="profile.js"></script>
    <script src="edit.js"></script>
    <script src="userService.js"></script>
</body>

</html>